.text-dark {
  color: $text-dark;
}

.text-light {
  color: $text-light;
}
.text-light-l {
  color: $text-light-l;
}

.send-border-msg-bdr {
  border-color: $border-color;
}
.sec-container-bg {
  background-color: $f-bg;
}

.sec-btn-bg {
  background-color: $btn-color;
}
.third-btn-bg {
  background-color: $btn-color-2;
}
.msg-box {
  background-color: $msg-box;
}
.for-container-bg {
  background-color: $s-bg;
}
