.first-container-2 {
  .first-item3 {
    grid-column: 1/13;
    font-size: 32px;
    text-align: center;
  }
  .first-item4 {
    grid-column: 1/13;
    text-align: center;
    font-size: 12px;
  }
}
