.third-container {
  button {
    background: none;
    width: 100%;
    cursor: pointer;
    padding: 8px 0px;

    a {
      font-size: 11px;
      color: $text-dark;
    }
  }
  .tab-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .third-item1 {
    grid-column: 1/4;
  }
  .third-item2 {
    grid-column: 4/7;
  }
  .third-item3 {
    grid-column: 7/9;
  }
  .third-item4 {
    grid-column: 11/14;
    background-color: $white;
    font-size: 11px;
  }
}
