* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

.noborder {
  border: none;
}

.grid {
  display: grid;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

%borderscd {
  border: 1px solid;
}
@mixin bordered($color) {
  @extend %borderscd;
  border-color: $color;
}

.bordered {
  @include bordered($border-color);
}

.bordereds {
  @include bordered($s-bg);
}

.bordered-none {
  border-bottom: none;
}

.border-none-side {
  border-left: none;
  border-right: none;
}

.border-top {
  border-top: 3px solid $black;
}

.section-one {
  padding: 0 10px;
}

// .f-container-background {
//   background-color: $f-bg;
// }
// .s-container-background {
//   background-color: $s-bg;
// }

.mt-neg5 {
  margin-top: -5px;
}

.mt-neg8 {
  margin-top: -8px;
}
.mt-neg3 {
  margin-top: -3px;
}
.mt-neg5 {
  margin-top: -5px;
}
.mt-3 {
  margin-top: 3px;
}

@for $i from 0 through 6 {
  .mt-#{$i *5} {
    margin-top: $i * 5px;
  }
}

.ptb {
  padding: 30px 0;
}

.pt-all {
  margin: 10px auto 30px;
  padding: 25px;
  max-width: 90%;
}

.underline-none {
  text-decoration: none;
}

.displaying {
  display: none;
}

@mixin disp-flex($justify: flex-start, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

.disp-flex-end {
  @include disp-flex(end);
}

.disp-flex-cen {
  @include disp-flex(center);
}

.disp-flex-sta {
  @include disp-flex(start);
}

.disp-flex-col-end {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
.grid-row-12 {
  grid-row: 12;
}

.tab-no-bdr-btm {
  z-index: 1;
  position: relative;
  bottom: -2px;
}

.grid-temp-col {
  grid-template-columns: repeat(12, 1fr);
}
@mixin font-weight($weight) {
  font-weight: $weight;
}

.fontweight {
  @include font-weight(bold);
}

.fontweight500 {
  @include font-weight(500);
}

.textarearesizenone {
  resize: none;
}

.textalignright {
  text-align: right;
}

.gridcol1-13 {
  grid-column: 1/13;
}

.fourth-item20 {
  grid-column: 3/11;
  height: 55px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  .first {
    font-size: 16px;
  }

  .second {
    font-size: 12px;
  }
}

.grid-col-3-11 {
  grid-column: 3/11;
}
