$border-color: #b3aeb2;
$grey: #afadae;
$text-dark: #393939;
$text-light: #606060;
$text-light-l: #a2a2a2;
$text-light-msg-dial: #bebdbd;
$text-2nd-box-dark: #303030;
$text-btn: #474747;
$msg-text: #424141;
$f-bg: #e0e0e0;
$s-bg: #f5f5f5;
$white: #ffffff;

$btn-color: #c0c0c0;
$btn-color-2: #cccccc;
$msg-box: #e5e5e5;

$black: #000;
